# Ignore everything
*

# Allow everything inside src/
!src/
!src/**
/node_modules

# Allow composer.json (even outside src, if applicable)
!composer.json

# Allow everything inside Build
!src/packages/site_package/Build/**

# Explicitly ignore node_modules inside Build
src/packages/site_package/Build/node_modules/