// Variables
$lightblue: #D9E8F4;
$lightblue: #c9dceb;
$lightblue: #D7E4F6;
$lightblue2: #D7E4F6;
$lightblue3: #C0DBEE;
$lightblue4: #D5EAF5;
$blue: #0082CA;
$beige: #fff7e4;
$beige: #F3EDE0;
$bluegray: #D0D8E5;
$darkblue: #1C4160;

$metal: #F2F3F6;


$one-color: #371F3F;
$one-color-light: #B8DCF0;
$two-color:white;
$two-color:white;
$three-color: #D9CBE7;
$four: #C6BDB0;
$error: #9a5662;

$font-color: #000000;
$line: #000000;

$white: white;
$black: black;
$grey: #DEDEDE;
$grey-font-footer: #000000;

$trans: all .2s ease-in-out;
$first-font: "atyp-bl-variable", sans-serif;
$second-font: "atyp-bl-variable", sans-serif;
$third-font: "atyp-bl-variable", sans-serif;
$fourth-font: "atyp-bl-variable", sans-serif;


// Predefined Break-points
$xxl: 1399.9px;
$xl: 1199.9px;
$lg: 991.9px;
$md: 767.9px;
$sm: 575.9px;
$xs: 99.9px;
